{%extends 'twitter/base.html' %}
{%block tweets%}
<h3>Bookmarks</h3>
<h5>{{user}}</h5>
<!------------------------------PAGINATED TWEETS------------------------------->
{% for tweet in tweets %}
<div><a href="{% url 'detail' tweet.author tweet.pk %}">{{ tweet.text}}</a> by <a
  href="{% url 'userfeed' tweet.author %}">{{ tweet.author }}</a> at {{ tweet.when}}
  <br>
  {%include 'twitter/tweet_buttons.html' %}
</div>
<br>
{% endfor %}
<!---------------------------------PAGINATION----------------------------------->
{% if tweets.has_previous %}
<a href="?page={{ tweets.previous_page_number }}">previous</a>
{%endif%}
{% if tweets.has_next %}
<a href="?page={{ tweets.next_page_number }}">next</a>
{%endif%}
<!------------------------------------------------------------------------------>
<p><a href="{% url 'password_change' %}">Change password</a></p>
<br>
<a href="{% url 'logout' %}">Log out</a>
<br>
{%endblock%}

{% block trends %}
<div class="col right">
  <h3>Trends for you</h3>
  <div class="divtrend"><a href=""><div class="content_container"><p>Trending in Ukraine</p><p>War</p><p># of tweets</p></div></a></div>
  <div class="divtrend"><a href=""><div class="content_container"><p>Trending in Ukraine</p><p>War</p><p># of tweets</p></div></a></div>
  <div class="divtrend"><a href=""><div class="content_container"><p>Trending in Ukraine</p><p>War</p><p># of tweets</p></div></a></div>
  <div class="divtrend"><a href=""><div class="content_container"><p>Trending in Ukraine</p><p>War</p><p># of tweets</p></div></a></div>
</div>
{%endblock%}

