{% extends 'twitter/base.html' %}

{% block tweets %}
<section class="col mid">
  <span style="font-size: 16px;"> user {{ requested_user }}</span>
  {%if requested_user.is_verified %}
  <span class="material-icons verified-large"> verified </span>
  {%endif%}
  {%if requested_user.is_private %}
  <span class="material-icons lock"> lock </span>
  {%endif%}

  {%if error_message == "blocked" %}
  <div>This user has limited your access to their account and tweets</div>
{% elif error_message == "private" %}
  <div>This account is private. You need to subscribe and wait for this user to approve your subscribe request</div>
  {% include 'twitter/follow_button.html' %}
{% elif error_message == "does_not_exist" %}
  <div>This tweet does not exist</div>
{%else%}
  <div>{{ tweet.text }} by {{ tweet.author }} at {{ tweet.when }}</div>
  {%include 'twitter/tweet_buttons.html' %}
{% include 'twitter/send_reply.html' %}
  <br>
<h3>Replies</h3>
{% include 'twitter/tweets.html' %}
{%endif%}
</section>
{% endblock %}



