<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
      button {
        border: none;
        padding: 0;
        background: none;
        cursor:pointer;
      }

      .make-active{
        color:grey;
        }
      .make-active:hover{
        color:blue;
        }

      .make-inactive{
        color:blue;
        }
      .make-inactive:hover{
        color:grey;
        }

  </style>
</head>
<body>
<!-------------------------------------------------------->
<h2>logged in user {{ user }}</h2>
{% for tweet in tweets %}
<div><a href="{% url 'detail' tweet.author tweet.pk %}">{{ tweet.text}}</a> by <a
  href="{% url 'userfeed' tweet.author %}">{{ tweet.author }}</a> at {{ tweet.when}}
  <br>
<!----------------LIKE BUTTON------------------------>
  {%if user in tweet.likes.all %}
  <form style="display:inline" action="{% url 'dislike' tweet.pk %}" method="post">
    {% csrf_token %}
    <button class="like" type="submit" name="tweet_pk" value="{{ tweet.pk }}">
      <span class="material-icons make-inactive">favorite</span>
    </button>
  </form>
  {%else%}
    <form style="display:inline" action="{% url 'like' tweet.pk %}" method="post">
    {% csrf_token %}
    <button class="like" type="submit" name="tweet_pk" value="{{ tweet.pk }}">
      <span class="material-icons make-active">favorite</span>
    </button>
  </form>
  {%endif%}
  <span>{{tweet.likes.count}}</span>
  <!-----------------------RETWEET BUTTON------------------------------->
  {%if user in tweet.retweets.all %}
  <form style="display:inline" action="{% url 'unretweet' tweet.pk %}" method="post">
    {% csrf_token %}
    <button type="submit" name="tweet_pk" value="{{ tweet.pk }}">
      <span class="material-icons make-inactive">cached</span>
    </button>
    <span>{{tweet.retweets.count}}</span>
  </form>
  {%else%}
    <form style="display:inline" action="{% url 'retweet' tweet.pk %}" method="post">
    {% csrf_token %}
    <button type="submit" name="tweet_pk" value="{{ tweet.pk }}">
      <span class="material-icons make-active">cached</span>
    </button>
    <span>{{tweet.retweets.count}}</span>
  </form>
  {%endif%}
    <!---------------------------------------------------------------->
</div>
<br>
{% endfor %}

<p><a href="{% url 'password_change' %}">Change password</a></p>
<br>
<a href="{% url 'logout' %}">Log out</a>
<br>
</body>
</html>

