<!--------------------------LIKE BUTTON------------------------>
{%if user in tweet.likes.all %}
<form style="display:inline" action="{% url 'dislike' tweet.pk %}" method="post">
  {% csrf_token %}
  <button class="make-inactive-like" type="submit" name="tweet_pk" value="{{ tweet.pk }}">
    <span class="material-icons">favorite</span>
    <span class="counter">{{tweet.likes.count}}</span>
  </button>
</form>
{%else%}
  <form style="display:inline" action="{% url 'like' tweet.pk %}" method="post">
  {% csrf_token %}
  <button class="make-active-like" type="submit" name="tweet_pk" value="{{ tweet.pk }}">
    <span class="material-icons make-active-like">favorite</span>
    <span class="counter">{{tweet.likes.count}}</span>
  </button>
</form>
{%endif%}
<!-----------------------RETWEET BUTTON------------------------------->
{%if user in tweet.retweets.all %}
<form style="display:inline" action="{% url 'unretweet' tweet.pk %}" method="post">
  {% csrf_token %}
  <button class="make-inactive-retweet" type="submit" name="tweet_pk" value="{{ tweet.pk }}">
    <span class="material-icons">cached</span>
    <span class="counter">{{tweet.retweets.count}}</span>
  </button>
</form>
{%else%}
  <form style="display:inline" action="{% url 'retweet' tweet.pk %}" method="post">
  {% csrf_token %}
  <button class="make-active-retweet" type="submit" name="tweet_pk" value="{{ tweet.pk }}">
    <span class="material-icons">cached</span>
    <span class="counter">{{tweet.retweets.count}}</span>
  </button>
</form>
{%endif%}
<!-----------------------------VIEWS------------------------------------>
<button class="views">
  <span class="material-icons make-active">signal_cellular_alt</span>
  <span class="counter">{{tweet.views}}</span>
</button>
